.btn {
    background-color: var(--cor-bg-btn);
    color: var(--cor-txt-btn);
    border: none;
    font-family: var(--font);
    font-weight: var(--weight-titulo);
    font-size: var(--font-size-btn);
    border-radius: var(--font-size-btn);
    cursor: pointer;
    padding: 6px 8px;
}

.btn:hover {
    background-color: var(--cor-bg-btn-hover);
    color: var(--cor-btn-hover);
}

.btn-tamanho-pequeno {
    width: 200px;
    grid-area: btn-pequeno;
}

.btn-tamanho-grande {
    width: 420px;
    grid-area: btn-grande;
}

.lista-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 420px;
    gap: 0.65rem 0.8rem;
}