.btn {
    background-color: var(--cor-bg-btn);
    color: var(--cor-txt-btn);
    border: none;
    font-family: var(--font);
    font-weight: var(--weight-titulo);
    font-size: var(--font-size-btn);
    border-radius: var(--font-size-btn);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--cor-bg-btn-hover);
    color: var(--cor-btn-hover);
}

.btn-tamanho-pequeno {
    width: 200px;
    height: 36px;
    font-size: 22px;
}

.btn-tamanho-grande {
    width: 420px;
    height: 36px;
    font-size: 22px;
}

.lista-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 427px;
    column-gap: 27px;
    row-gap: 15px;
}

@media (max-width: 700px) {
    .btn-tamanho-pequeno {
        width: 180px;
        height: 30px;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .btn-tamanho-pequeno {
        width: 160px;
        height: 28px;
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    .btn-tamanho-pequeno {
        width: 142px;
        height: 26px;   
        font-size: 16px;
    }

    .btn-tamanho-grande{
        width: 302px;
        height: 26px;
        font-size: 16px;
    }

    .lista-btns {
        width: 302px;
        column-gap: 18px;
        row-gap: 9px;
    }
}