.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.container-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 44px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
}



@media (max-width: 1100px) {
    .container-conteudo {
        gap: 75px;
    }
}

@media (max-width: 1000px) {
    .container-conteudo {
        gap: 68px;
    }

    .container-texto {
        gap: 40px;
    }
}

@media (max-width: 900px) {
    .container-conteudo {
        gap: 60px;
    }

    .container-texto {
        gap: 35px;
    }
}

@media (max-width: 850px) {
    .container-conteudo {
        gap: 50px;
    }
}

@media (max-width: 800px) {
    .container-conteudo {
        gap: 45px;
    }

    .container-texto {
        gap: 30px;
    }

    .container-form {
        gap: 25px;
    }
}

@media (max-width: 700px) {
    .container-conteudo {
        gap: 35px;
    }

    .container-texto {
        gap: 25px;
    }
}

@media (max-width: 600px) {
    .container-conteudo {
        gap: 30px;
    }

    .container-texto {
        gap: 20px;
    }

    .container-form {
        gap: 20px;
    }
}

@media (max-width: 550px) {
    .container-conteudo {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .container-conteudo {
        flex-direction: column;
        gap: 25px;
    }

    .container-texto {
        width: 100%;
        gap: 22px;
    }

    .container-form {
        align-items: center;
        gap: 24px;
    }
}

@media (max-width: 425px) {
    .container-conteudo {
        flex-direction: column;
        gap: 20px;
    }

    .container-texto {
        width: 100%;
        gap: 18px;
    }
}

@media (max-width: 375px) {
    .container-conteudo {
        gap: 18px;
    }

    .container-texto {
        gap: 16px;
    }
}

@media (max-width: 320px) {
    .container-conteudo {
        gap: 16px;
    }

    .container-texto {
        gap: 14px;
    }
}