.personagem-1 {
    width: 431px;
    height: 661px;
}

.personagem-2 {
    width: 553px;
    height: 480px;
}

.personagem-3 {
    width: 553px;
    height: 528px;
}

.personagem-4 {
    width: 553px;
    height: 528px;
}

.personagem-5 {
    width: 553px;
    height: 521px;
}

@media (max-width: 480px) {
    .personagem-1 {
        width: 271px;
        height: 416px;
    }

    .personagem-2 {
        width: 403px;
        height: 350px;
    }

    .personagem-3 {
        width: 380px;
        height: 363px;
    }

    .personagem-4 {
        width: 380px;
        height: 363px;
    }

    .personagem-5 {
        width: 361px;
        height: 340px;
    }
}