.texto {
    font-family: var(--font);
    font-weight: var(--weight-texto);
}

.txt-introducao {
    font-size: 28px;
    text-align: center;
    word-wrap: break-word;
}

.txt-form {
    font-size: 26px;
    font-family: var(--font);
    font-weight: var(--weight-texto);
}

@media (max-width: 1100px) {
    .txt-introducao {
        font-size: 26px;
    }

    .txt-form {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .txt-introducao {
        font-size: 22px;
    }
    
    .txt-form {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .txt-introducao {
        font-size: 20px;
    }

    .txt-form {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .txt-introducao {
        font-size: 18px;
    }

    .txt-form {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .txt-introducao {
        font-size: 16px;
    }

    .txt-form {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .txt-introducao {
        font-size: 14px;
    }

    .txt-form {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .txt-introducao {
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .txt-introducao {
        font-size: 18px;
        width: 333px;
    }

    .txt-form {
        font-size: 16px;
    }
}