.titulo {
    font-family: var(--font);
    font-weight: var(--weight-titulo);
}

.ttl-introducao {
    text-align: center;
    word-wrap: break-word;
}

.ttl-form {
    width: 35ch;
    word-break: keep-all;
}

@media (max-width: 2000px) {
    .ttl-principal {
        font-size: 180px;
    }

    .ttl-secundario {
        font-size: 40px;
    }

    .ttl-introducao {
        font-size: 50px;
    }

    .ttl-form {
        font-size: 40px;
        width: 30ch;
    }
}

@media (max-width: 1800px) {
    .ttl-principal {
        font-size: 160px;
    }

    .ttl-secundario {
        font-size: 40px;
    }

    .ttl-introducao {
        font-size: 50px;
    }

    .ttl-form {
        font-size: 40px;
        width: 30ch;
    }
}

@media (max-width: 1700px) {
    .ttl-principal {
        font-size: 150px;
    }

    .ttl-secundario {
        font-size: 35px;
    }

    .ttl-introducao {
        font-size: 48px;
    }

    .ttl-form {
        font-size: 35px;
    }
}

@media (max-width: 1600px) {
    .ttl-principal {
        font-size: 140px;
    }

    .ttl-secundario {
        font-size: 33px;
    }

    .ttl-introducao {
        font-size: 48px;
    }

    .ttl-form {
        font-size: 35px;
        width: 30ch;
    }
}

@media (max-width: 1500px) {
    .ttl-principal {
        font-size: 130px;
    }

    .ttl-secundario {
        font-size: 33px;
    }

    .ttl-introducao {
        font-size: 44px;
    }

    .ttl-form {
        font-size: 33px;
        width: 30ch;
    }
}

@media (max-width: 1400px) {
    .ttl-principal {
        font-size: 120px;
    }

    .ttl-secundario {
        font-size: 30px;
    }

    .ttl-introducao {
        font-size: 40px;
    }

    .ttl-form {
        font-size: 30px;
    }
}

@media (max-width: 1300px) {
    .ttl-principal {
        font-size: 111px;
    }

    .ttl-secundario {
        font-size: 26px;
    }

    .ttl-introducao {
        font-size: 39px;
    }

    .ttl-form {
        font-size: 26px;
    }
}

@media (max-width: 1100px) {
    .ttl-introducao {
        font-size: 35px;
    }

    .ttl-form {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .ttl-principal {
        font-size: 100px;
    }

    .ttl-secundario {
        font-size: 25px;
    }

    .ttl-introducao {
        font-size: 30px;
    }

    .ttl-form {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .ttl-principal {
        font-size: 85px;
    }

    .ttl-secundario {
        font-size: 23px;
    }

    .ttl-introducao {
        font-size: 27px;
    }

    .ttl-form {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .ttl-principal {
        font-size: 75px;
    }

    .ttl-secundario {
        font-size: 20px;
    }

    .ttl-introducao {
        font-size: 25px;
    }

    .ttl-form {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .ttl-principal {
        font-size: 70px;
    }

    .ttl-secundario {
        font-size: 18px;
    }

    .ttl-introducao {
        font-size: 23px;
    }

    .ttl-form {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .ttl-principal {
        font-size: 65px;
    }

    .ttl-secundario {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .ttl-principal {
        font-size: 60px;
    }

    .ttl-secundario {
        font-size: 15px;
    }

    .ttl-form {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .ttl-principal {
        font-size: 55px;
    }

    .ttl-secundario {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .ttl-principal {
        font-size: 53px;
    }

    .ttl-secundario {
        font-size: 24px;
    }

    .ttl-introducao {
        font-size: 30px;
    }

    .ttl-form{
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .ttl-principal {
        font-size: 48px;
    }

    .ttl-secundario {
        font-size: 20px;
    }

    .ttl-introducao {
        font-size: 28px;
    }
}

@media (max-width: 375px) {
    .ttl-principal {
        font-size: 46px;
    }

    .ttl-secundario {
        font-size: 18px;
    }

    .ttl-introducao {
        font-size: 26px;
    }

    .ttl-form {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .ttl-principal {
        font-size: 42px;
    }

    .ttl-secundario {
        font-size: 14px;
    }

    .ttl-secundario {
        font-size: 16px;
    }

    .ttl-introducao {
        font-size: 24px;
    }

    .ttl-form {
        margin: auto;
        width: 95%;
    }
}

@media (max-height: 600px) and (max-width: 1024px) and (min-width: 924px) {
    .ttl-principal {
        font-size: 90px;
    }

    .ttl-secundario {
        font-size: 20px;
    }
}