.titulo {
    font-family: var(--font);
    font-weight: var(--weight-titulo);
}

.ttl-principal {
    font-size: 111px;
}

.ttl-secundario {
    font-size: 29px;
}

.ttl-introducao {
    font-size: 39px;
    text-align: center;
    word-wrap: break-word;
}

.ttl-form {
    font-size: 26px;
    word-break: keep-all;
    width: 20em;
}

@media (max-width: 1100px) {
    .ttl-introducao {
        font-size: 35px;
    }

    .ttl-form {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .ttl-principal {
        font-size: 100px;
    }

    .ttl-secundario {
        font-size: 26px;
    }

    .ttl-introducao {
        font-size: 30px;
    }

    .ttl-form {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .ttl-principal {
        font-size: 85px;
    }

    .ttl-secundario {
        font-size: 23px;
    }

    .ttl-introducao {
        font-size: 27px;
    }

    .ttl-form {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .ttl-principal {
        font-size: 75px;
    }

    .ttl-secundario {
        font-size: 20px;
    }

    .ttl-introducao {
        font-size: 25px;
    }

    .ttl-form {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .ttl-principal {
        font-size: 70px;
    }

    .ttl-secundario {
        font-size: 18px;
    }

    .ttl-introducao {
        font-size: 23px;
    }

    .ttl-form {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .ttl-principal {
        font-size: 65px;
    }

    .ttl-secundario {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .ttl-principal {
        font-size: 60px;
    }

    .ttl-secundario {
        font-size: 15px;
    }

    .ttl-form {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .ttl-principal {
        font-size: 55px;
    }

    .ttl-secundario {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .ttl-principal {
        font-size: 53px;
    }

    .ttl-secundario {
        font-size: 24px;
    }

    .ttl-introducao {
        font-size: 30px;
    }

    .ttl-form{
        font-size: 16px;
    }
}