.titulo {
    font-family: var(--font);
    font-weight: var(--weight-titulo);
}

.ttl-principal {
    font-size: 5rem;
}

.ttl-secundario {
    font-size: 1.32rem;
}

.ttl-introducao {
    font-size: 1.775rem;
    text-align: center;
    width: 15em;
}

.label-form {
    font-size: 1.185rem;
}