:root {
    font-size: var(--font-size-raiz);
    --font-size-raiz: 22px;
    --font: 'Roboto', sans-serif;
    --weight-titulo: 700;
    --weight-texto: 400;

    --cor-bg-btn: #3EB25E;
    --cor-bg-btn-hover: #FFFF7D;
    --cor-txt-btn: #FFFFFF;
    --cor-txt-btn-hover: #000000;
    --font-size-btn: var(--font-size-raiz);

    --cor-input-nao-selecionado: #3EB25E4D;
    --cor-input-selecionado: #3EB25E;
}